page,
body {
	background-color: #F4F4F4;
	font-size: 28rpx;
	color: #333333;
	font-family: PingFangSC, Helvetica Neue, Helvetica, sans-serif;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}

.u-cell__body {
	padding: 12rpx 0 !important;
}

.u-cell__body__content {
	flex: none !important;
}

.u-button {
	height: 100% !important;
}

.plus {
	color: #81B33B;
}

.reduce {
	color: #BD3124
}