@font-face {
  font-family: "custom-icon";   /* Project id 4515375 */
  src: url('@/static/font/iconfont.woff2') format('woff2'),
    url('@/static/font/iconfont.woff') format('woff'),
    url('@/static/font/iconfont.ttf') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon- {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-home:before {
  content: "\eb66";
}

.custom-icon-home-fill:before {
  content: "\eca6";
}

.custom-icon-view:before {
  content: "\e6a1";
}

.custom-icon-view-fill:before {
  content: "\eca7";
}

.custom-icon-chat-fill:before {
  content: "\eca8";
}

.custom-icon-user-fill:before {
  content: "\eca9";
}

.custom-icon-chat:before {
  content: "\ec5f";
}

.custom-icon-user:before {
  content: "\e678";
}

.custom-icon-view1:before {
  content: "\e622";
}

.custom-icon-view1-copy:before {
  content: "\ecaa";
}

.custom-icon-shengchan:before {
  content: "\e9e6";
}

.custom-icon-midu:before {
  content: "\e605";
}

.custom-icon-mianji:before {
  content: "\e6b5";
}

.custom-icon-shuiwu:before {
  content: "\e624";
}

.custom-icon-tianqi:before {
  content: "\e623";
}

.custom-icon-houres:before {
  content: "\e621";
}

.custom-icon-leidian:before {
  content: "\e712";
}

.custom-icon-huo:before {
  content: "\e6a0";
}

.custom-icon-yaowan:before {
  content: "\e607";
}

.custom-icon-shuidi:before {
  content: "\e611";
}

.custom-icon-jiqiren:before {
  content: "\e627";
}

.custom-icon-jixiaoguanli:before {
  content: "\e604";
}

.custom-icon-shenei:before {
  content: "\e65e";
}

.custom-icon-shumu:before {
  content: "\e6b2";
}

.custom-icon-dianfang:before {
  content: "\e736";
}

.custom-icon-shitou:before {
  content: "\ea23";
}

.custom-icon-wenduji:before {
  content: "\eb3a";
}

.custom-icon-xinxi:before {
  content: "\e602";
}

.custom-icon-user1:before {
  content: "\e60a";
}

.custom-icon-chart:before {
  content: "\e60f";
}

.custom-icon-chakan:before {
  content: "\e614";
}

.custom-icon-shexiangtou:before {
  content: "\e60e";
}

.custom-icon-taiyang:before {
  content: "\e62e";
}

.custom-icon-Pasturage:before {
  content: "\e61c";
}

.custom-icon-shexiang:before {
  content: "\e692";
}

.custom-icon-tingzhenqi:before {
  content: "\e843";
}

.custom-icon-shuimian:before {
  content: "\e610";
}

.custom-icon-heart:before {
  content: "\e911";
}

.custom-icon-camera:before {
  content: "\e962";
}

.custom-icon-fengli:before {
  content: "\e725";
}

.custom-icon-eye:before {
  content: "\e6da";
}

.custom-icon-kongqishidu:before {
  content: "\e67b";
}

.custom-icon-qiya:before {
  content: "\ea32";
}

.custom-icon-shipin:before {
  content: "\eca5";
}

.custom-icon-jiangyu:before {
  content: "\e6bf";
}

.custom-icon-pintu:before {
  content: "\e704";
}

